<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<%@page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@taglib prefix="dt" uri="/dttag"%>
<%@taglib prefix="s" uri="/struts-tags"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort() + path + "/";
%>
<html>
	<head>
		<base href="<%=basePath%>">
		<title>busiSysConfigDetail</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<dt:comppath></dt:comppath>
		<script type="text/javascript" language="JavaScript" src="<%=request.getContextPath()%>/js/common.ref.js"></script>
		<script type="text/javascript" language="JavaScript">
		
		</script>
	</head>
	<body>
		<div class="ui-widget-content func-panel">
			<div class="ui-widget-header func-header">标题</div>
			<table class="condition" width="100%" align="center">
#foreach(${column}in${columns})
	#if($foreach.count % 3 == 1)
					<tr>
	#end
	#set($lowerColumn = $generateCode.convertFirstLetterToLowerCase($column.getColumnName()))
					<th><s:label value="$column.getColumnName()"></s:label></th>
	#if($column.getTypeName() == "DATE")
					<td><s:date name="${lowerTableName}.${lowerColumn}" /></td>
	#else
					<td><s:property value="${lowerTableName}.${lowerColumn}"/></td>
	#end
	#if($foreach.count % 3 == 0)
					</tr>
	#end					
#end
			</table>
		</div>
	</body>
</html>