<%@page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@taglib prefix="dt" uri="/dttag"%>
<%@taglib prefix="s" uri="/struts-tags"%>
<script type="text/javascript" language="JavaScript">
	//操作
	function handle(cellvalue, options, rowObject) {
		var str = "";
#if(${convert}=="yes")
		str += "<a href='javascript:${lowerTableName}Detail(\"" + #if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)rowObject.entity.${lowerPrimaryKey} + #else"\"," + rowObject.entity.${lowerPrimaryKey} + #end#end#end"\");'>查看</a>&nbsp;";
		str += "<a href='javascript:${lowerTableName}Update(\"" + #if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)rowObject.entity.${lowerPrimaryKey} + #else"\"," + rowObject.entity.${lowerPrimaryKey} + #end#end#end"\");'>修改</a>&nbsp;";
		str += "<a href='javascript:${lowerTableName}Delete(\"" + #if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)rowObject.entity.${lowerPrimaryKey} + #else"\"," + rowObject.entity.${lowerPrimaryKey} + #end#end#end"\");'>删除</a>&nbsp;";
#end
#if(${convert}=="no")
		str += "<a href='javascript:${lowerTableName}Detail(\"" + #if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)rowObject.${lowerPrimaryKey} + #else"\"," + rowObject.${lowerPrimaryKey} + #end#end#end"\");'>查看</a>&nbsp;";
		str += "<a href='javascript:${lowerTableName}Update(\"" + #if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)rowObject.${lowerPrimaryKey} + #else"\"," + rowObject.${lowerPrimaryKey} + #end#end#end"\");'>修改</a>&nbsp;";
		str += "<a href='javascript:${lowerTableName}Delete(\"" + #if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)rowObject.${lowerPrimaryKey} + #else"\"," + rowObject.${lowerPrimaryKey} + #end#end#end"\");'>删除</a>&nbsp;";
#end
		return str;
	}
	//查看
	function ${lowerTableName}Detail(#if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)${lowerPrimaryKey}#else, ${lowerPrimaryKey}#end#end#end)
	{
		var url = "${module}/${upperTableName}Action!showDetail.action"#if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1) + "?${lowerTableName}.${lowerPrimaryKey}=" + ${lowerPrimaryKey}#else"&${lowerTableName}.${lowerPrimaryKey}=" + ${lowerPrimaryKey}#end#end#end;
		window.showModalDialog(url,window,'dialogWidth=800px;dialogHeight=600px;');
	}
	//打开修改页面
	function ${lowerTableName}Update(#if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)${lowerPrimaryKey}#else, ${lowerPrimaryKey}#end#end#end)
	{
		var url = "<%=request.getContextPath()%>/${module}/${upperTableName}Action!prepareUpdate.action"#if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1) + "?${lowerTableName}.${lowerPrimaryKey}=" + ${lowerPrimaryKey}#else"&${lowerTableName}.${lowerPrimaryKey}=" + ${lowerPrimaryKey}#end#end#end;
		window.showModalDialog(url,window,'dialogWidth=800px;dialogHeight=600px;');
	}	
	//删除
	function ${lowerTableName}Delete(#if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)${lowerPrimaryKey}#else, ${lowerPrimaryKey}#end#end#end) {
		dt$.confirm("确认删除吗？", "询问", function(msgBtn) {
			if (msgBtn == dt$.DR_OK) {
				var url = "${module}/${upperTableName}Action!delete.action";
				var parameter = #if(${hasPrimaryKey})#foreach(${primaryKey}in${primaryKeys})#set($lowerPrimaryKey = $generateCode.convertFirstLetterToLowerCase(${primaryKey}))#if($foreach.count==1)"${lowerTableName}.${lowerPrimaryKey}=" + ${lowerPrimaryKey}#else"&${lowerTableName}.${lowerPrimaryKey}=" + ${lowerPrimaryKey}#end#end#end;
				dt$.ajaxPost(url, parameter, function(result) {
					if (result == 1) {
						dt$.success("操作成功", null, function() {
							${lowerTableName}Query();
						});
					} else {
						dt$.error("操作失败", null, function() {
							${lowerTableName}Query();
						});
					}
				});
			}
		});
	}
</script>
<dt:grid id="listGrid" url="${module}/${upperTableName}Action!queryPageList.action?'+$('#parameters').serialize()+'" showPage="true" width="100%" height="100%" shrinkToFit="true" caption="标题">
#if(${convert}=="yes")
	#foreach(${column}in${columns})
	#set($lowerColumn = $generateCode.convertFirstLetterToLowerCase($column.getColumnName()))
	<dt:gridColumn name="entity.${lowerColumn}" label="$column.getColumnName()"></dt:gridColumn>
	#end
#end
#if(${convert}=="no")
	#foreach(${column}in${columns})
	#set($lowerColumn = $generateCode.convertFirstLetterToLowerCase($column.getColumnName()))
	<dt:gridColumn name="${lowerColumn}" label="$column.getColumnName()"></dt:gridColumn>
	#end
#end
	<dt:gridColumn name="" label="操作" formatter="handle"></dt:gridColumn>
</dt:grid>